.header{
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #111;
  color: #fff;
  padding-left:20px;

  .actions{
    //min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .header-btn{
      border-left: 1px solid #fff;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      //padding-left: 20px;
      padding: 0 10px;

      cursor: pointer;
      user-select: none;
    }
  }
}

.main-cont{
  display: flex;
  height: 100%;


  .sidebar {
    height: 100%;
    width: 205px;
    background: #ddd;


    .menu-option{
      text-decoration: none;
      position: relative;
      padding: 10px;
      width: 100%;
      color: #000;
      cursor: pointer;
      user-select: none;
      &.active{
        background: rgba(0,0,0,0.1);

        &:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 100%;
          //left: -9px;
          left: 0px;
          top:0;
          border-left:3px solid #fa0006;
        }
      }

    }
  }

  .container{
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
    padding-left:17px;
    .h3-title{
      //margin-left: 17px;
    }


    .info-cont{

      p{

        mat-icon{
          font-size: 20px;
          margin-left: 15px;
          cursor: pointer;
        }


        span{
          margin-left: 10px;
        }
      }
    }



    form{
      //margin-left: 17px;
    }
    .red-btn-bd{
      background-color: #f00;
      color: #fff;
    }

    .subs-cont{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .sub{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 2px;
        min-height: 225px;
        margin: 10px;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);




        .sub-option{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;

        }
      }
    }
  }

}

