
<div class="header">
  <div class="title">
    Manage Users
  </div>
  <!--<div class="actions" *ngIf="userData">-->
    <!--<div class="header-btn" (click)="updateUser();">-->
      <!--<mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>-->
    <!--</div>-->
    <!--<div class="header-btn" (click)="cancelEdit();">-->
      <!--<mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--<div class="container">-->
  <!--<div mat-dialog-content>-->
    <div class="main-cont">
      <div class="sidebar">
        <mat-list>
          <mat-list-item>
            <a class="menu-option"  [ngClass]="{'active' : currentRoute == 1  }" (click)="changeRoute(1)">
              Institution/Company
            </a>
          </mat-list-item>
          <mat-list-item >
            <a class="menu-option" [ngClass]="{'active' : currentRoute == 2  }" (click)="changeRoute(2)">
              Billing & Subscription
            </a>
          </mat-list-item>
          <mat-list-item>
            <a class="menu-option" [ngClass]="{'active' : currentRoute == 3  }" (click)="changeRoute(3)">
              Settings
            </a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="container">
asdas
      </div>
    </div>



  <!--</div>-->
<!--</div>-->
