
<div class="header">
  <div class="title">
    Manage Users
  </div>
  <!--<div class="actions" *ngIf="userData">-->
    <!--<div class="header-btn" (click)="updateUser();">-->
      <!--<mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>-->
    <!--</div>-->
    <!--<div class="header-btn" (click)="cancelEdit();">-->
      <!--<mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--<div class="container">-->
  <!--<div mat-dialog-content>-->
    <div class="main-cont">
      <div class="sidebar">
        <mat-list>
          <mat-list-item>
            <a class="menu-option"  [ngClass]="{'active' : currentRoute == 1  }" (click)="changeRoute(1)">
              Institution/Company
            </a>
          </mat-list-item>
          <mat-list-item >
            <a class="menu-option" [ngClass]="{'active' : currentRoute == 2  }" (click)="changeRoute(2)">
              Billing & Subscription
            </a>
          </mat-list-item>
          <mat-list-item>
            <a class="menu-option" [ngClass]="{'active' : currentRoute == 3  }" (click)="changeRoute(3)">
              Settings
            </a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="container" *ngIf="currentRoute == 1">
        <div class="info-cont">
          <p>
            Institution/Company Name: <b>test Name</b>  <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
          </p>
          <p>
            Address 1: <b>test address 1</b>
          </p>
          <p>
            Address 2: <b>test address 2</b>
          </p>
          <p>
            City: <b>Test city</b> <span>State: <b>test state</b></span> <span>Zip Code: <b>test zip</b></span>
          </p>
        </div>
        <br />
        <div class="info-cont">
          <p>
            Primary Account Administator <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
          </p>
          <p>
            Name: <b>Test name</b>
          </p>
          <p>
            Title: <b>test title</b>
          </p>
          <p>
            Email: <b>test@email.com</b>
          </p>
          <p>
            Phone: <b>+1230123123</b>
          </p>
        </div>










      </div>
      <div class="container" *ngIf="currentRoute == 2">

        <h3 class="h3-title">
          Your Subscription
        </h3>
        <mat-list role="list">
          <mat-list-item role="listitem">
            Subscription: {{subsData.subscription}}
          </mat-list-item>
          <mat-list-item role="listitem">
            Rooms: {{subsData.nbrRooms}}
          </mat-list-item>
          <mat-list-item role="listitem">
            Users: {{subsData.nbrUsers}}
          </mat-list-item>
        </mat-list>
        <!--<form [formGroup]="formChooseSubs" class="form">-->

          <!--<mat-form-field class="form-element">-->
            <!--<mat-select matInput placeholder="Subscriptions" formControlName="subscription">-->
              <!--<mat-option *ngFor="let sub of allBillSub" [value]="sub.id">{{sub.subscription}}</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--<br>-->
          <!--<button mat-raised-button class="red-btn-bd" (click)="changeSub($event)">Change Subscription</button>-->

        <!--</form>-->

        <h3 class="h3-title">
          Choose Subscription
        </h3>
        <div class="subs-cont">
          <div class="sub">
            <mat-list role="list">
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Subscription
                      </span>
                    <span>{{subsData.subscription}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Rooms
                      </span>
                    <span>{{subsData.nbrRooms}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Users
                      </span>
                    <span>{{subsData.nbrUsers}}</span>
                    </div>
              </mat-list-item>
            </mat-list>
            <br>
            <button mat-raised-button class="red-btn-bd" (click)="changeSub($event)">Choose Subscription</button>
          </div>
          <div class="sub">
            <mat-list role="list">
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Subscription
                      </span>
                    <span>{{subsData.subscription}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Rooms
                      </span>
                    <span>{{subsData.nbrRooms}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Users
                      </span>
                    <span>{{subsData.nbrUsers}}</span>
                    </div>
              </mat-list-item>
            </mat-list>
            <br>
            <button mat-raised-button class="red-btn-bd" (click)="changeSub($event)">Choose Subscription</button>
          </div>
          <div class="sub">
            <mat-list role="list">
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Subscription
                      </span>
                    <span>{{subsData.subscription}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Rooms
                      </span>
                    <span>{{subsData.nbrRooms}}</span>
                    </div>
              </mat-list-item>
              <mat-list-item role="listitem">
                    <div class="sub-option">
                      <span>
                        Users
                      </span>
                    <span>{{subsData.nbrUsers}}</span>
                    </div>
              </mat-list-item>
            </mat-list>
            <br>
            <button mat-raised-button class="red-btn-bd" (click)="changeSub($event)">Choose Subscription</button>
          </div>
        </div>


      </div>
      <div class="container" *ngIf="currentRoute == 3">
        qqq
      </div>
    </div>



  <!--</div>-->
<!--</div>-->
