<div class="header">
  <div class="logo">
    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="">
  </div>
  <div class="name">
    Client Company Name
  </div>
</div>
<div class="container container-slides">
  <div class="card" *ngIf="dashboardData && dashboardData.systems">
    <mat-list>
      <h3 mat-subheader>Systems Overview</h3>
      <mat-list-item *ngIf="dashboardData.systems.nbrBuildings">
        <h4 mat-line>{{dashboardData.systems.nbrBuildings}} - Buildings</h4>
      </mat-list-item>
      <mat-list-item *ngIf="dashboardData.systems.nbrRooms">
        <h4 mat-line>{{dashboardData.systems.nbrRooms}} - Rooms</h4>
      </mat-list-item>
      <mat-list-item *ngIf="dashboardData.systems.nbrEquipment">
        <h4 mat-line>{{dashboardData.systems.nbrEquipment}} - Pieces of Equipment</h4>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="card" *ngIf="dashboardData && dashboardData.lifecycle">
    <mat-list>
      <h3 mat-subheader>Lifecycle</h3>
      <mat-list-item>
        <h4 mat-line>Equipment Age</h4>
        <span mat-line>{{dashboardData.lifecycle.coreEquipmentAge}}</span>
      </mat-list-item>
      <mat-list-item style="    margin-top: -15px;">
        <h4 mat-line># AV Projects</h4>
        <span mat-line *ngFor="let item of dashboardData.lifecycle.roomsToUpgrade">
          {{item.nbrRoomsUpg}}&nbsp;-&nbsp;{{item.year}}
        </span>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="card" *ngIf="dashboardData && dashboardData.support">
    <mat-list>
      <h3 mat-subheader>Support</h3>
      <mat-list-item>
        <h4 mat-line>Reported Issues</h4>
        <span mat-line *ngIf="dashboardData.support.rptIssueMonth">
          {{dashboardData.support.rptIssueMonth}} this Month
        </span>
        <span mat-line *ngIf="dashboardData.support.rptIssue12Months">
          {{dashboardData.support.rptIssue12Months}} Last 12 Month
        </span>
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>Service Calls</h4>
        <span mat-line *ngIf="dashboardData.support.serviceCallMonth">
          {{dashboardData.support.serviceCallMonth}} this Month
        </span>
        <span mat-line *ngIf="dashboardData.support.serviceCall12Months">
          {{dashboardData.support.serviceCall12Months}} Last 12 Month
        </span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
