.header{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    .logo{

      img{
        height: 80px;
        width: auto;
      }
    }

    .name{
      font-weight:bold;
      margin-left: 10px;
    }

}

.container{
  margin: 20px;
  display: flex;
  width:100%;
  align-items: safe;
  //justify-content: space-around;
  justify-content: flex-start;


  .card{
    background: #fff;
    padding: 30px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-left: 20px;
    width: 30%;
    &:nth-child(1){
      margin-left: 0;
    }

    h3.mat-subheader{
      color: #f00;
    }

    span{
      margin-left: 25px;
      margin-top: 7px;
    }
  }


}


@media screen and (max-width:768px) {
  .container{
    width: calc(100% - 60px) !important;
  }
  .card{
    width: calc(100% - 100px) !important;
    margin-left: 30px !important;
    margin-top: 20px;
  }
  .container-slides
  {
    flex-direction: column;
  }
}
