<div class="container">
  <h1 mat-dialog-title>Add Room</h1>
  <div mat-dialog-content>
    <form [formGroup]="addRoomForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="form-element">
        <mat-select matInput placeholder="Building Name" formControlName="buildingId">
          <mat-option *ngFor="let building of buildings" [value]="building.id">{{building.buildingName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Room Name" maxlength="255" maxLength formControlName="roomName">
        <mat-error
          *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)">
          {{getRoomNameErrorMessage()}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-horizontal">
        <mat-select matInput placeholder="Tier" required formControlName="tier">
          <mat-option *ngFor="let tier of tiers" [value]="tier">{{tier}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Floor" type="number" minlength="0" formControlName="floor">
      </mat-form-field>

      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker1" placeholder="Last Remodel Date" formControlName="dateOfLastRemodel">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>

      <span layout="row">
        <h4>
          Room Details
        </h4>
      </span>
      <mat-divider></mat-divider>
      <mat-form-field class="form-element">
        <mat-select placeholder="Room Type" formControlName="roomType">
          <mat-option *ngFor="let roomType of roomType" [value]="roomType">{{roomType}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element-half">
        <mat-select placeholder="Seating Type" formControlName="seatingType">
          <mat-option *ngFor="let seatingType of seatingTypes" [value]="seatingType">{{seatingType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-element-half">
        <input matInput placeholder="Seating Capacity" maxlength="11"  maxLength type="number" minlength="0" formControlName="seatingCapacity">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Dimensions" maxlength="50" maxLength formControlName="dimensions">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Ceiling Height" maxlength="11" type="number" maxLength formControlName="ceilingHeight">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <mat-select placeholder="Ceiling Type" formControlName="ceilingType">
          <mat-option *ngFor="let ceilingType of ceilingTypes" [value]="ceilingType">{{ceilingType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span layout="row">
        <h4>AV Details</h4>
      </span>
      <mat-divider></mat-divider>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker4" placeholder="Last AV Install" formControlName="avLastUpdateDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker4"></mat-datepicker-toggle>
        <mat-datepicker #datePicker4></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Integrator" maxlength="100" maxLength formControlName="integrator">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Last AV Cost" maxlength="11" type="number" maxLength  formControlName="avLastUpdateCost">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Lifecycle" type="number" minlength="0" maxlength="11" maxLength formControlName="lifecycle">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Estimated Update Cost" type="number" minlength="0" maxlength="11" maxLength formControlName="nextAvUpdCost">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-element">
        <textarea matInput #input maxlength="1000" maxLength placeholder="Note" formControlName="notes"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
      </mat-form-field>
      <div class="mat-dialog-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="addRoomForm.status !== 'VALID'"  class="red-btn-bd"  >+</button>
        <button mat-raised-button color="primary" class="red-btn" (click)="revert($event)">Reset</button>
        <button mat-raised-button color="primary" class="red-btn"  (click)="cancel($event)" >Cancel</button>
      </div>
    </form>
  </div>
<br/>

</div>
