.toolbar-custom{
  background: #111;

  .logo-header{
    height: 50px;
    margin-top: 5px;
    width: auto;
  }

  button.mat-button{
    color: #fff;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .right-menu{

  }
  .active{
    border-bottom:3px solid #f00;
  }
}




@media screen and (max-width:768px) {
  button.mat-button{
    color: #fff;
    min-width: 40px;
    padding: 0 10px;
  }

}
