<div class="container">
  <h1 mat-dialog-title>Add Building</h1>
  <div mat-dialog-content>
    <form [formGroup]="addBuildingForm" (ngSubmit)="onSubmit()" class="form">
<div>
      <mat-form-field class="form-element">
        <input matInput placeholder="Building Name" formControlName="buildingName" id="buildingName">
        <mat-error *ngIf="buildingName.invalid && (buildingName.dirty || buildingName.touched)">Building Name Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Address 1" formControlName="address1">
        <mat-error
          *ngIf="address1.invalid && (address1.dirty || address1.touched)">{{getAddress1ErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Address 2" formControlName="address2">
        <mat-error *ngIf="address2.invalid && (address2.dirty || address2.touched)">Address is too long</mat-error>
      </mat-form-field>
          <mat-form-field class="form-element">
            <input matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">City is required</mat-error>
          </mat-form-field>
        <mat-form-field class="form-horizontal">
            <mat-select placeholder="State" formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
            <mat-error *ngIf="state.invalid && (state.dirty || state.touched)">State is required</mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Zip" formControlName="zip" id="zip">
            <mat-error *ngIf="zip.invalid && (zip.dirty || zip.touched)">{{getZipErrorMessage()}}</mat-error>
          </mat-form-field>
    </div>
      <mat-form-field class="form-horizontal" >
        <input matInput placeholder="Number of Floors" formControlName="nbrOfFloors" id="nbrOfFloors">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker1" placeholder="Date Constructed" formControlName="dateConstructed">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker2" placeholder="Date Last Remodel" formControlName="dateLastRemodel">
        <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
        <mat-datepicker #datePicker2></mat-datepicker>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="form-element">
        <textarea matInput #input maxlength="1000" placeholder="Note" formControlName="notes"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Contact First Name" formControlName="contactFirstName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Contact Last Name" formControlName="contactLastName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Contact Phone Number" formControlName="contactPhoneNbr">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Contact Email" formControlName="contactEmail">
        <mat-error *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)">Email Invalid</mat-error>
      </mat-form-field>
      </form>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" class="red-btn" (click)="onSubmit()" >+</button>
      <button mat-raised-button color="primary" class="red-btn" (click)="revert()">Reset</button>
      <button mat-raised-button color="primary" class="red-btn" (click)="cancel()" >Cancel</button>
    </div>
</div>
</div>
