<div class="container">
  <h1 mat-dialog-title>{{isEdit ? 'Edit Building' : 'Add Building'}}</h1>
  <div mat-dialog-content id="addBuildingForm">
    <form [formGroup]="addBuildingForm"  (ngSubmit)="onSubmit()" class="form">
    <div>
      <mat-form-field class="form-element">
        <input matInput maxlength="80" placeholder="Building Name" required="true" formControlName="buildingName" id="buildingName">
        <mat-error *ngIf="buildingName.invalid && (buildingName.dirty || buildingName.touched)">
          Building Name Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput maxlength="80" required="true" placeholder="Address 1" formControlName="address1">
        <mat-error
          *ngIf="address1.invalid && (address1.dirty || address1.touched)">{{getAddress1ErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput maxlength="80" placeholder="Address 2" formControlName="address2">
        <mat-error *ngIf="address2.invalid && (address2.dirty || address2.touched)">Address is too long</mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput  maxlength="100" required="true" placeholder="City" formControlName="city">
        <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">City is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <mat-select required="true" placeholder="State" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
        <mat-error *ngIf="state.invalid && (state.dirty || state.touched)">State is required</mat-error>
      </mat-form-field>
      <mat-form-field >
        <input matInput maxlength="10"  required="true" placeholder="Zip" formControlName="zip" id="zip">
        <mat-error *ngIf="zip.invalid && (zip.dirty || zip.touched)">{{getZipErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
      <mat-form-field class="form-horizontal" >
        <input matInput maxlength="3"  placeholder="Number of Floors" formControlName="nbrOfFloors" id="nbrOfFloors">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker1" placeholder="Date Constructed" formControlName="dateConstructed">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker2" placeholder="Date Last Remodel" formControlName="dateLastRemodel">
        <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
        <mat-datepicker #datePicker2></mat-datepicker>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="form-element">
        <textarea matInput  #input maxlength="1000" placeholder="Note" formControlName="notes"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput maxlength="50" placeholder="Contact First Name" formControlName="contactFirstName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput maxlength="50" placeholder="Contact Last Name" formControlName="contactLastName">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput maxlength="10" type="tel" placeholder="Contact Phone Number" formControlName="contactPhoneNbr">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput  maxlength="250" type="email" placeholder="Contact Email" formControlName="contactEmail">
        <mat-error *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)">Email Invalid</mat-error>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-raised-button type="submit" [disabled]="addBuildingForm.status !== 'VALID'" class="red-btn-bd">
          {{isEdit ? 'Update' : '+'}}
        </button>
        <button mat-raised-button class="red-btn-bd" (click)="revert($event)">Reset</button>
        <button mat-raised-button class="red-btn-bd" (click)="cancel($event)" >Cancel</button>
      </div>
    </form>

</div>
</div>
