
<div class="header">
  <div class="title">
    Manage Users
  </div>
  <div class="actions" *ngIf="userData">
    <div class="header-btn" (click)="updateUser();">
      <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
    </div>
    <div class="header-btn" (click)="cancelEdit();">
      <mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>
    </div>
  </div>
</div>

<div class="container">
  <div mat-dialog-content>
    <mat-tab-group *ngIf="!userData" [color]="'accent'">
      <mat-tab label="Users">
        <table  mat-table [dataSource]="userManageData" class="user-manage-table">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td (click)="editUser(element)" mat-cell class="name-td"  *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td (click)="editUser(element)" mat-cell class="email-td" *matCellDef="let element">{{element.userName}}</td>
          </ng-container>

          <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef>User Type</th>
            <td (click)="editUser(element)" mat-cell *matCellDef="let element">{{element.userType}}</td>
          </ng-container>

          <ng-container matColumnDef="dateAdded">
            <th mat-header-cell *matHeaderCellDef>Date Added</th>
            <td (click)="editUser(element)" mat-cell *matCellDef="let element">{{element.dateAdded}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td (click)="editUser(element)" mat-cell *matCellDef="let element">{{element.status}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
    <form *ngIf="userData" [formGroup]="userEditForm">


      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <mat-label>
            First Name
          </mat-label>
          <input autocomplete="off" matInput formControlName="firstName"  placeholder="First Name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Last Name
          </mat-label>
          <input autocomplete="off" matInput formControlName="lastName"  placeholder="Last Name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Phone Number
          </mat-label>
          <input autocomplete="off" matInput formControlName="phoneNbr"  type="number" placeholder="Phone Number">
        </mat-form-field>
      </div>

      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <mat-label>
            Username
          </mat-label>
          <input autocomplete="off" matInput formControlName="userName"  placeholder="User Name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Title
          </mat-label>
          <input autocomplete="off" matInput formControlName="title" placeholder="Title">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Password
          </mat-label>
          <input autocomplete="off" matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
      </div>

      <div class="fields-group" data-grid="1">
        <mat-form-field class="form-element">
          <mat-label>
            User Role
          </mat-label>
          <mat-select matInput placeholder="User Role" formControlName="userRoleId">
            <mat-option *ngFor="let role of userRoles" [value]="role.roleId">{{role.roleName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



    </form>
    <div *ngIf="userData" class="btns-cont">
      <button mat-raised-button class="red-btn" (click)="deleteUser()" color="primary">
        Delete
      </button>
    </div>
  </div>
</div>
