<div class="room-detail-page" *ngIf="roomDetailData">
  <div class="header">
    <div class="title">
      {{roomDetailData.buildingName}} - {{roomDetailData.roomName}} / Floor {{roomDetailData.floor}} / Tier {{roomDetailData.tier}}
    </div>
    <div class="actions">
      <div class="header-btn" *ngIf="!roomModalShownEdit" (click)="roomModalShownEdit = true">
        <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
      </div>
      <div class="header-btn" *ngIf="roomModalShownEdit" (click)="updateRoom();">
        <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
      </div>
      <div class="header-btn" *ngIf="roomModalShownEdit" (click)="confirmCancel();">
        <mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>
      </div>
    </div>
  </div>
  <app-carousel-component *ngIf="!roomModalShownEdit" roomDetailImages="{{roomDetailImages}}"></app-carousel-component>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
            <span>
              Core Age
            </span>
      {{roomDetailData.coreAge ? roomDetailData.coreAge : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Equipment Age
            </span>
      {{roomDetailData.equipmentAge ? roomDetailData.equipmentAge : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Last Install
            </span>
      {{roomDetailData.lastInstallDate ? roomDetailData.lastInstallDate : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Lifecycle
            </span>
      {{roomDetailData.lifecycle ? roomDetailData.lifecycle : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Estimated Update Cost
            </span>
      {{roomDetailData.nextAvUpdCost ? roomDetailData.nextAvUpdCost : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Replace/Upgrade
            </span>
      {{roomDetailData.replaceUpg ? roomDetailData.replaceUpg : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Last AV Contractor
      </span>
      {{roomDetailData.lastAvContractor ? roomDetailData.lastAvContractor : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
            <span>
              Room Type
            </span>
      {{roomDetailData.roomType ? roomDetailData.roomType : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Seating Type
            </span>
      {{roomDetailData.seatingType ? roomDetailData.seatingType : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Seating Capacity
            </span>
      {{roomDetailData.seatingCapacity}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
      <span>
        Dimensions
      </span>
      {{roomDetailData.dimensions ? roomDetailData.dimensions : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Ceiling Height
      </span>
      {{roomDetailData.ceilingHeight ? roomDetailData.ceilingHeight : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Ceiling Type
      </span>
      {{roomDetailData.ceilingType ? roomDetailData.ceilingType : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Last Remodel
      </span>
      {{roomDetailData.dateOfLastRemodel ? roomDetailData.dateOfLastRemodel : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
      <span>
        Last AV Cost
      </span>
      {{roomDetailData.avLastUpdateCost ? roomDetailData.avLastUpdateCost : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Contractor
      </span>
      {{roomDetailData.integrator ? roomDetailData.integrator : ' &nbsp;'}}
    </div>
  </div>
  <mat-accordion  *ngIf="!roomModalShownEdit" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Documents
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of documents">
          <a href="{{item.filePath}}">
            {{item.documentName}}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Equipment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-room-table-component
        *ngIf="equipmentsLocal != '0'"
        dataSource="{{equipmentsLocal}}"
        displayedColumns="{{displayedLocalColumnsEquipments}}"
      ></app-room-table-component>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of roomHist">
          <h4 mat-line>{{item.noteDate}}</h4>
          <p mat-line> {{item.noteText }} </p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Update Project Description
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of projectDesc">
          {{item.projDesc}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="roomModalShownEdit" class="room-modal-edit">
    <form [formGroup]="form">
      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <mat-label>
            Room Name
          </mat-label>
          <input matInput required="true" maxlength="255"  formControlName="roomName"  placeholder="Room Name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Floor
          </mat-label>
          <input matInput maxlength="3"  formControlName="floor"  type="number" placeholder="Floor">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Tier
          </mat-label>
          <input matInput  maxlength="1" required="true" formControlName="tier"  type="number" placeholder="Tier">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="4">
        <mat-form-field >
          <input matInput  formControlName="avLastUpdateDate"  [matDatepicker]="avLastUpdateDate" placeholder="Last AV Install">
          <mat-datepicker-toggle matSuffix [for]="avLastUpdateDate"></mat-datepicker-toggle>
          <mat-datepicker #avLastUpdateDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            Lifecycle (years)
          </mat-label>
          <input matInput maxlength="11"  formControlName="lifecycle"  type="number" placeholder="Lifecycle (years)">
        </mat-form-field>

        <mat-form-field >
          <mat-label>
            Estimated Update Cost
          </mat-label>
          <input matInput type="text" formControlName="nextAvUpdCost" placeholder="Estimated Update Cost">
        </mat-form-field>

        <mat-form-field >
          <mat-label>
            Last AV Contractor
          </mat-label>
          <input matInput type="text" formControlName="lastAvContractor" placeholder="Last AV Contractor">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <mat-label>
            Room Type
          </mat-label>
          <input matInput type="text" formControlName="roomType" placeholder="Room Type">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Seating Type
          </mat-label>
          <input matInput  formControlName="seatingType"  placeholder="Seating Type">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Seating Capacity
          </mat-label>
          <input matInput maxlength="11"  formControlName="seatingCapacity"  type="number" placeholder="Seating Capacity">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="5">
        <mat-form-field >
          <mat-label>
            Dimensions
          </mat-label>
          <input matInput maxlength="50"  formControlName="dimensions"  type="text" placeholder="Dimensions">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Ceiling Height
          </mat-label>
          <input matInput maxlength="11"  formControlName="ceilingHeight"  type="number" placeholder="Ceiling Height">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Ceiling Type
          </mat-label>
          <input matInput  formControlName="ceilingType"  type="text" placeholder="Ceiling Type">
        </mat-form-field>
        <mat-form-field >
          <input matInput  formControlName="dateOfLastRemodel"  [matDatepicker]="dateOfLastRemodel" placeholder="Date Of Last Remodel">
          <mat-datepicker-toggle matSuffix [for]="dateOfLastRemodel"></mat-datepicker-toggle>
          <mat-datepicker #dateOfLastRemodel></mat-datepicker>
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Contractor
          </mat-label>
          <input matInput  formControlName="integrator"  placeholder="Contractor">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="1">
        <mat-form-field >
          <mat-label>
            Last AV Cost
          </mat-label>
          <input matInput  formControlName="avLastUpdateCost"  type="number" placeholder="AV Last Update Cost">
        </mat-form-field>
      </div>
    </form>
    <div class="btns-cont">
      <button mat-raised-button  class="red-btn" (click)="openDialogAddNote()" color="primary">
        Add Note
      </button>
      <button mat-raised-button  class="red-btn" (click)="openDialogAddPhoto()" color="primary">
        Upload Photo
      </button>
      <button mat-raised-button  class="red-btn" (click)="openDialogUploadDocument()" color="primary">
        Upload Document
      </button>
      <button mat-raised-button class="red-btn" (click)="openDialogAddProjectDesc()" color="primary">
        Add/Edit Update Project Description
      </button>
      <button mat-raised-button class="red-btn" (click)="addEquipment()" color="primary">
        + Equipment
      </button>
    </div>
  </div>
</div>
