<div class="container">
  <h1 mat-dialog-title>Clone Room</h1>
  <div mat-dialog-content>
    <form [formGroup]="addRoomForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="form-element">
        <mat-select matInput placeholder="Room to clone" (valueChange)="getRoomData($event)" >
          <mat-option *ngFor="let room of rooms" [value]="room.roomId">{{room.roomName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="New Room Name" formControlName="roomName">
      </mat-form-field>
      <mat-form-field class="form-element">
      <mat-select placeholder="Room Type" formControlName="roomType">
      <mat-option *ngFor="let roomType of roomType" [value]="roomType">{{roomType}}</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Tier" formControlName="tier">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Floor" formControlName="floor">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Сore Age" formControlName="coreAge">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Equipment Age" formControlName="equipmentAge">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput placeholder="Replace / Upgrade" formControlName="replaceUpg">
      </mat-form-field>
      <mat-form-field class="form-horizontal">
        <input matInput [matDatepicker]="datePicker1" placeholder="Last Remodel Date" formControlName="dateOfLastRemodel">
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1></mat-datepicker>
      </mat-form-field>
      <span layout="row"><h4>Room Details</h4></span>
      <mat-divider></mat-divider>
      <mat-form-field class="form-element">
        <input matInput placeholder="Integrator" formControlName="integrator">
      </mat-form-field>
      <mat-form-field class="form-element-half">
        <mat-select placeholder="Seating Type" formControlName="seatingType">
          <mat-option *ngFor="let seatingType of seatingTypes" [value]="seatingType">{{seatingType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-element-half">
        <input matInput placeholder="Seating Capacity" formControlName="seatingCapacity">
      </mat-form-field>
      <mat-form-field class="form-element-small">
      <input matInput placeholder="Dimensions" formControlName="dimensions">
    </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Ceiling Height" formControlName="ceilingHeight">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Lifecycle" formControlName="lifecycle">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <mat-select placeholder="Ceiling Type" formControlName="ceilingType">
          <mat-option *ngFor="let ceilingType of ceilingTypes" [value]="ceilingType">{{ceilingType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput [matDatepicker]="datePicker2" placeholder="Original AV Install" formControlName="origAvInstallDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
        <mat-datepicker #datePicker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput [matDatepicker]="datePicker4" placeholder="Last Install" formControlName="lastInstallDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker4"></mat-datepicker-toggle>
        <mat-datepicker #datePicker4></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Original AV Cost" formControlName="origAvSystemCost">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Original AV Contractor" formControlName="origAvContractor">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput [matDatepicker]="datePicker3" placeholder="AV Last Update" formControlName="avLastUpdateDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker3"></mat-datepicker-toggle>
        <mat-datepicker #datePicker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Last Update AV Cost" formControlName="avLastUpdateCost">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Last Update AV Contractor" formControlName="lastAvContractor">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Next AV Update Year" formControlName="nextAvUpdateDt">
      </mat-form-field>
      <mat-form-field class="form-element-small">
        <input matInput placeholder="Next AV Update Cost" formControlName="nextAvUpdCost">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field class="form-element">
        <textarea matInput #input maxlength="1000" placeholder="Note" formControlName="notes"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
      </mat-form-field>
    </form>
    <div class="btns-cont">
      <button mat-raised-button class="red-btn" (click)="openDialogAddNote()" color="primary">
        Add Note
      </button>
      <button mat-raised-button class="red-btn" (click)="openDialogAddPhoto()" color="primary">
        Upload Photo
      </button>
      <button mat-raised-button class="red-btn" (click)="openDialogUploadDocument()" color="primary">
        Upload Document
      </button>
    </div>
  </div>
<br/>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="red-btn" class="red-btn" (click)="onSubmit()" >Clone</button>
    <button mat-raised-button color="primary" class="red-btn" class="red-btn" (click)="revert()">Reset</button>
    <button mat-raised-button color="primary" class="red-btn" class="red-btn" (click)="cancel()" >Cancel</button>
  </div>
</div>
