<div class="container">
  <h1 mat-dialog-title>Add Equipment</h1>
  <div mat-dialog-content>
    <form [formGroup]="addEquipmentForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="form-element">
        <mat-select matInput placeholder="Room" formControlName="rooms">
          <mat-option *ngFor="let room of roomList" [value]="room">{{room}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <br/>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" >Add</button>
    <button mat-raised-button color="primary" (click)="revert()">Reset</button>
    <button mat-raised-button color="primary" (click)="cancel()" >Cancel</button>
  </div>
</div>
