<div class="room-modal-overlay" *ngIf="data" (click)="closeModal()" ></div>
<div class="room-modal" *ngIf="data">
  <div class="header">
    <div class="title">
      {{data.room}}
    </div>
    <div class="actions">
      <div class="header-btn" *ngIf="!isEdit" (click)="isEdit = true">
        <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
      </div>
      <div class="header-btn" *ngIf="isEdit" (click)="updateRoom(); isEdit = false">
        <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
      </div>
      <div class="header-btn" *ngIf="isEdit" (click)="confirmCancel(); isEdit = false">
        <mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>
      </div>
      <div class="header-btn" (click)="expand()">
        <mat-icon aria-hidden="false" aria-label="open_in_new">open_in_new</mat-icon>
      </div>
      <div (click)="closeModal()" class="header-btn">
        <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
      </div>
    </div>


  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
        <span>
          Manufacturer:
        </span>
      {{data.manufacturer ? data.manufacturer : ' &nbsp;'}}
    </div>
    <div>
        <span>
          Model/Part Number:
        </span>
      {{data.modelNumber ? data.modelNumber : ' &nbsp;'}}
    </div>
    <div>
        <span>
          Description:
        </span>
      {{data.description ? data.description : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
        <span>
          Class:
        </span>
      {{data.equipmentClass ? data.equipmentClass : ' &nbsp;'}}
    </div>
    <div>
      <span>Category:</span>
      {{data.category ? data.category : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!isEdit" class="subheader">

    <div>
      <span>Date Installed:</span> {{data.installDate ? data.installDate : ' &nbsp;'}}
    </div>
    <div>
      <span>Lifecycle:</span> {{data.lifecycle ? data.lifecycle : ' &nbsp;'}}
    </div>
    <div>
      <span>Integrator:</span> {{data.integrator ? data.integrator : ' &nbsp;'}}
    </div>

  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
      Country of Manufacture: <span>{{data.countryManufacturer ? data.countryManufacturer : ' &nbsp;'}}</span>
    </div>
    <div>
      Serial №: <span>{{data.serialNum ? data.serialNum : ' &nbsp;'}}</span>
    </div>
  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
      MAC Address: <span>{{data.macAddress ? data.macAddress : ' &nbsp;'}}</span>
    </div>
    <div>
      IP Address: <span>{{data.ipAddress ? data.ipAddress : ' &nbsp;'}}</span>
    </div>
    <div>
      Port: <span>{{data.port ? data.port : ' &nbsp;'}}</span>
    </div>
  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
      Manufacture Warranty: Length <span>{{data.manufactureWarranty ? data.manufactureWarranty : '&nbsp;'}}</span>
    </div>
    <div>
      Manufacture Warranty: Start Date <span> {{'&nbsp;'}} </span>
    </div>
    <div>
      Manufacture Warranty: Expiration <span> {{data.warrantyExpiration ? data.warrantyExpiration : '&nbsp;'}} </span>
    </div>
  </div>
  <div *ngIf="!isEdit" class="subheader">
    <div>
      Extended Warranty/Service Contract: Length<span> {{'&nbsp;'}} </span>
    </div>
    <div>
      Manufacture Warranty: Start Date<span> {{'&nbsp;'}} </span>
    </div>
    <div>
      Manufacture Warranty: Expiration<span> {{data.extWarrantyExpiration ? data.extWarrantyExpiration : '&nbsp;'}} </span>
    </div>

  </div>
  <div *ngIf="!isEdit" class="manuals">
    <span class="title-manual">Manuals:</span> {{data.manuals}}
  </div>
  <div *ngIf="isEdit && data" class="room-modal-edit">
    <form [formGroup]="form">
      <div class="fields-group">
        <mat-form-field  class="form-element-small">
          <mat-label>
            Manufacturer
          </mat-label>
          <input matInput  formControlName="manufacturer"  placeholder="Manufacturer">
        </mat-form-field>
        <mat-form-field  class="form-element-small">
          <mat-label>
            Model Number
          </mat-label>
          <input matInput  formControlName="modelNumber"  placeholder="Model Number">
        </mat-form-field>
        <mat-form-field  class="form-element-small">
          <mat-label>
            Description
          </mat-label>
          <input matInput  formControlName="description"  placeholder="Description">
        </mat-form-field>
      </div>
      <div class="fields-group">
        <mat-form-field class="form-element-half">
          <mat-label>
            Equipment Class
          </mat-label>
          <input matInput  formControlName="equipmentClass"  placeholder="Equipment Class">
        </mat-form-field>
        <mat-form-field class="form-element-half">
          <mat-label>
            Category
          </mat-label>
          <input matInput  formControlName="category"  placeholder="Category">
        </mat-form-field>
      </div>
      <br>
      <div class="fields-group">
        <mat-form-field class="form-element-small">
          <input matInput  formControlName="installDate"  [matDatepicker]="installDate" placeholder="Install Date">
          <mat-datepicker-toggle  matSuffix [for]="installDate"></mat-datepicker-toggle>
          <mat-datepicker md-mode="month" #installDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            Lifecycle
          </mat-label>
          <input matInput type="number"  formControlName="lifecycle"  placeholder="Lifecycle">
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            Integrator
          </mat-label>
          <input matInput  formControlName="integrator"  placeholder="Integrator">
        </mat-form-field>
      </div>
      <br>
      <div class="fields-group">
        <mat-form-field class="form-element-half">
          <mat-label>
            Country Manufacturer
          </mat-label>
          <input matInput  formControlName="countryManufacturer"  placeholder="Country Manufacturer">
        </mat-form-field>
        <mat-form-field class="form-element-half">
          <mat-label>
            Serial Number
          </mat-label>
          <input matInput  formControlName="serialNum"  placeholder="Serial Num">
        </mat-form-field>
      </div>
      <br>
      <div class="fields-group">
        <mat-form-field class="form-element-small">
          <mat-label>
            Mac Address
          </mat-label>
          <input matInput  formControlName="macAddress"  placeholder="Mac Address">
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            IP Address
          </mat-label>
          <input matInput  formControlName="ipAddress"  placeholder="IP Address">
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            Port
          </mat-label>
          <input matInput  formControlName="port"  placeholder="Port">
        </mat-form-field>
      </div>
      <br>
      <div class="fields-group">
        <mat-form-field class="form-element-small">
          <mat-label>
            Manufacture Warranty: Length
          </mat-label>
          <input matInput readonly formControlName="manufactureWarranty"  placeholder="Manufacture Warranty: Length">
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <input matInput readonly formControlName="manufactureWarrantyStart"  [matDatepicker]="manufactureWarrantyStart" placeholder="Manufacture Warranty: Start Date">
          <mat-datepicker-toggle  matSuffix [for]="manufactureWarrantyStart"></mat-datepicker-toggle>
          <mat-datepicker  #manufactureWarrantyStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            Manufacture Warranty: Expiration
          </mat-label>
          <input matInput readonly formControlName="warrantyExpiration"  placeholder="Manufacture Warranty: Expiration ">
        </mat-form-field>
      </div>
      <br>
      <div class="fields-group">
        <mat-form-field class="form-element-small">
          <mat-label>
            Extended Warranty/Service Contract: Length
          </mat-label>
          <input matInput readonly formControlName="warrantyLength"  placeholder="Extended Warranty/Service Contract: Length">
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <input matInput readonly formControlName="warrantyStart"  [matDatepicker]="warrantyStart" placeholder="Extended Warranty/Service Contract: Start Date">
          <mat-datepicker-toggle  matSuffix [for]="warrantyStart"></mat-datepicker-toggle>
          <mat-datepicker  #warrantyStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element-small">
          <mat-label>
            Extended Warranty/Service Contract: Expiration
          </mat-label>
          <input matInput readonly formControlName="extWarrantyExpiration"  placeholder="Extended Warranty/Service Contract: Expiration ">
        </mat-form-field>
      </div>
      <br>
    </form>
  </div>
</div>
