.carousel{
  width: 100%;
  height: 250px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  //justify-content: space-evenly;
  position: relative;


  .slide-main{
    width: 250px;
    height: 247px;
    padding: 3px;
    overflow: hidden;
    min-width: 250px;
    div{
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;

      &[data-orient="2"]{
        transform: rotateY(180deg);
      }
      &[data-orient="3"]{
        transform: rotate(180deg);
      }
      &[data-orient="4"]{
        transform: rotate(180deg) rotateY(180deg);
      }
      &[data-orient="5"]{
        transform: rotate(270deg) rotateY(180deg);
      }
      &[data-orient="6"]{
        transform: rotate(90deg);
      }
      &[data-orient="7"]{
        transform: rotate(90deg) rotateY(180deg);
      }
      &[data-orient="8"]{
        transform: rotate(270deg);
      }
    }
  }


  .scroller{
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    //justify-content: space-evenly;
    height: 251px;
    margin-top: -4px;
    width: 100%;



    .slide{

      width: 118px;
      height: 118px;
      background: #fff;
      padding: 5px;
      overflow: hidden;

      div{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        //background-image: attr(data-src url);
        &[data-orient="2"]{
          transform: rotateY(180deg);
        }
        &[data-orient="3"]{
          transform: rotate(180deg);
        }
        &[data-orient="4"]{
          transform: rotate(180deg) rotateY(180deg);
        }
        &[data-orient="5"]{
          transform: rotate(270deg) rotateY(180deg);
        }
        &[data-orient="6"]{
          transform: rotate(90deg);
        }
        &[data-orient="7"]{
          transform: rotate(90deg) rotateY(180deg);
        }
        &[data-orient="8"]{
          transform: rotate(270deg);
        }
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }






  .previousSlide{
    position: absolute;
    left:11px;
    background: rgba(0,0,0, .4);
    padding: 14px;
    padding-left: 7px;
    height: 71px;
    border-radius: 0;
    color: #fff;

    &:hover{
      background: rgba(0,0,0, .8);
    }
  }

  .nextSlide{
    position: absolute;
    right:11px;
    background: rgba(0,0,0, .4);
    padding: 14px;
    padding-left: 11px;
    height: 71px;
    border-radius: 0;
    color: #fff;

    &:hover{
      background: rgba(0,0,0, .8);
    }
  }

}
