<div  class="carousel" *ngIf="images">
  <drag-scroll #carousel drag-disabled	 drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <div drag-scroll-item (click)="openImage(i+1)" class="slide-c" [ngStyle]="{'background-image': 'url(' + slide.thumb + ')'}"  *ngFor="let slide of images | slice:1; let i = index" [attr.data-index]="i"  ></div>
  </drag-scroll>
  <button  (click)="previousSlideRoom()" mat-icon-button class="previousSlide">
    <mat-icon >arrow_back_ios</mat-icon>
  </button>
  <button  (click)="nextSlideRoom()" mat-icon-button class="nextSlide">
    <mat-icon >arrow_forward_ios</mat-icon>
  </button>
</div>
