<div  class="carousel" *ngIf="images.length > 0">
  <div class="slide-main">
    <div [attr.data-orient]="images[mainPictureIndex].orientationNum" (click)="crystalLightbox.open(images, {index: mainPictureIndex})"  [ngStyle]="{'background-image': regeneratePath(images[mainPictureIndex].imagePath)}" alt="">
    </div>
  </div>
  <div class="scroller">
    <div class="slide" *ngFor="let slide of images | slice:1; let i = index" [attr.data-index]="i" >
      <div [attr.data-orient]="slide.orientationNum" (click)="crystalLightbox.open(images, {index: i+1})" [ngStyle]="{'background-image': regeneratePath(slide.imagePath)}" >
      </div>
    </div>
  </div>
  <button  (click)="previousSlideRoom()" mat-icon-button class="previousSlide">
    <mat-icon >arrow_back_ios</mat-icon>
  </button>
  <button  (click)="nextSlideRoom()" mat-icon-button class="nextSlide">
    <mat-icon >arrow_forward_ios</mat-icon>
  </button>
</div>
