<div class="project-planning" *ngIf="single.length > 0">
  <h3>
    Company/Institution Name AV Capital Project Plan {{ProjPlanSumData.startYear}} - {{ProjPlanSumData.endYear}}
  </h3>
  <div class="chart">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [roundEdges]="roundEdges"
      (select)="onSelect($event)">


      <ng-template #tooltipTemplate let-model="model">
        <p>{{model.name}}</p>
        <p>${{numberWithCommas(model.value)}}</p>
      </ng-template>


    </ngx-charts-bar-vertical>
    <mat-icon aria-hidden="false" (click)="openDialogPrint()" class="print-icon" aria-label="Example home icon">print</mat-icon>

  </div>
  <mat-accordion class="accordion">
    <mat-expansion-panel *ngFor="let panel of ProjPlanSum" >
      <mat-expansion-panel-header (click)="getProjPlanDetail(panel.year)">
        <mat-panel-title>
          {{panel.year ? panel.year : 'N/A'}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{panel.projects}} &nbsp;&nbsp;&nbsp;&nbsp; ${{numberWithCommas(panel.amount)}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="table-container" >
        <app-project-planning-table-component *ngIf="tableData['data_'+panel.year]" (clickRow)="opemRoomDetailed(true, $event)"  dataSource="{{tableData['data_'+panel.year]}}" displayedColumns="{{columnsHeader}}"></app-project-planning-table-component>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="room-modal-overlay" (click)="opemRoomDetailed(false)" *ngIf="roomModalShown"></div>
<div class="room-modal" [ngClass]="roomModalShownEdit ? 'editmodal' : ' '" *ngIf="roomModalShown">
  <div class="header">
    <div class="title">
      {{roomDetailData.buildingName}} - {{roomDetailData.roomName}} / Floor {{roomDetailData.floor}} / Tier {{roomDetailData.tier}}
    </div>
    <div class="actions">
      <div class="header-btn" *ngIf="!roomModalShownEdit" (click)="roomModalShownEdit = true">
        <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
      </div>
      <div class="header-btn" *ngIf="roomModalShownEdit" (click)="updateRoom();">
        <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
      </div>
      <div class="header-btn" *ngIf="roomModalShownEdit" (click)="confirmCancel();">
        <mat-icon aria-hidden="false" class="closeedit" aria-label="Edit">edit</mat-icon>
      </div>
      <div class="header-btn" (click)="expand(roomId)">
        <mat-icon aria-hidden="false" aria-label="open_in_new">open_in_new</mat-icon>
      </div>
      <div (click)="opemRoomDetailed(false)" class="header-btn">
        <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
      </div>
    </div>
  </div>
  <app-carousel-component *ngIf="!roomModalShownEdit" roomDetailImages="{{roomDetailImages}}"></app-carousel-component>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
            <span>
              Core Age
            </span>
      {{roomDetailData.coreAge ? roomDetailData.coreAge : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Equipment Age
            </span>
      {{roomDetailData.equipmentAge ? roomDetailData.equipmentAge : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Last Install
            </span>
      {{roomDetailData.lastInstallDate ? roomDetailData.lastInstallDate : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Lifecycle
            </span>
      {{roomDetailData.lifecycle ? roomDetailData.lifecycle : ' &nbsp;'}}
    </div>

    <div>
            <span>
              Estimated Update Cost
            </span>
      {{roomDetailData.nextAvUpdCost ? '$' + numberWithCommas(roomDetailData.nextAvUpdCost) : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Replace/Upgrade
            </span>
      {{roomDetailData.replaceUpg ? roomDetailData.replaceUpg : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Last AV Contractor
      </span>
      {{roomDetailData.lastAvContractor ? roomDetailData.lastAvContractor : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
            <span>
              Room Type
            </span>
      {{roomDetailData.roomType ? roomDetailData.roomType : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Seating Type
            </span>
      {{roomDetailData.seatingType ? roomDetailData.seatingType : ' &nbsp;'}}
    </div>
    <div>
            <span>
              Seating Capacity
            </span>
      {{roomDetailData.seatingCapacity}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
      <span>
        Dimensions
      </span>
      {{roomDetailData.dimensions ? roomDetailData.dimensions : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Ceiling Height
      </span>
      {{roomDetailData.ceilingHeight ? roomDetailData.ceilingHeight : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Ceiling Type
      </span>
      {{roomDetailData.ceilingType ? roomDetailData.ceilingType : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Last Remodel
      </span>
      {{roomDetailData.dateOfLastRemodel ? roomDetailData.dateOfLastRemodel : ' &nbsp;'}}
    </div>
  </div>
  <div *ngIf="!roomModalShownEdit"  class="subheader">
    <div>
      <span>
        Last AV Cost
      </span>
      {{roomDetailData.avLastUpdateCost ? roomDetailData.avLastUpdateCost : ' &nbsp;'}}
    </div>
    <div>
      <span>
        Contractor
      </span>
      {{roomDetailData.integrator ? roomDetailData.integrator : ' &nbsp;'}}
    </div>
  </div>
  <mat-accordion  *ngIf="!roomModalShownEdit" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Documents
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of documents">
          <a href="{{item.filePath}}">
            {{item.documentName}}
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Equipment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-room-table-component
        *ngIf="equipmentsLocal != '0'"
        (clickRow)="opemEquipmentDetailed(true, $event)"
        dataSource="{{equipmentsLocal}}"
        tableid="1"
        displayedColumns="{{displayedLocalColumnsEquipments}}"
      ></app-room-table-component>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of roomHist">
          <h4 mat-line>{{item.noteDate}}</h4>
          <p mat-line> {{item.noteText }} </p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Update Project Description
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let item of projectDesc">
          {{item.projDesc}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="roomModalShownEdit" class="room-modal-edit">
    <form [formGroup]="form">
      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <mat-label>
            Room Name
          </mat-label>
          <input matInput required="true" maxlength="255" maxLength  formControlName="roomName"  placeholder="Room Name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Floor
          </mat-label>
          <input matInput maxlength="3" maxLength  formControlName="floor" min="0"  type="number" placeholder="Floor">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Tier
          </mat-label>
          <input matInput  maxlength="2" maxLength required="true" formControlName="tier" min="0" type="number" placeholder="Tier">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="4">
        <mat-form-field >
          <input matInput  formControlName="avLastUpdateDate"  [matDatepicker]="avLastUpdateDate" placeholder="Last AV Install">
          <mat-datepicker-toggle matSuffix [for]="avLastUpdateDate"></mat-datepicker-toggle>
          <mat-datepicker #avLastUpdateDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>
            Lifecycle (years)
          </mat-label>
          <input matInput maxlength="11" maxLength  formControlName="lifecycle" min="0" type="number" placeholder="Lifecycle (years)">
        </mat-form-field>

        <mat-form-field >
          <mat-label>
            Estimated Update Cost
          </mat-label>
          <input matInput type="number" maxlength="11" min="0" maxLength formControlName="nextAvUpdCost" placeholder="Estimated Update Cost">
        </mat-form-field>

        <mat-form-field >
          <mat-label>
            Last AV Contractor
          </mat-label>
          <input matInput maxlength="100" type="text" maxLength formControlName="lastAvContractor" placeholder="Last AV Contractor">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="3">
        <mat-form-field >
          <!--<mat-label>-->
          <!--Room Type-->
          <!--</mat-label>-->
          <!--<input matInput type="text" formControlName="roomType" placeholder="Room Type">-->
          <mat-select placeholder="Room Type" formControlName="roomType">
            <mat-option *ngFor="let roomType of roomType" [value]="roomType">{{roomType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          <!--<mat-label>-->
          <!--Seating Type-->
          <!--</mat-label>-->
          <!--<input matInput  formControlName="seatingType"  placeholder="Seating Type">-->
          <mat-select placeholder="Seating Type" formControlName="seatingType">
            <mat-option *ngFor="let seatingType of seatingTypes" [value]="seatingType">{{seatingType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Seating Capacity
          </mat-label>
          <input matInput maxlength="11" maxLength  formControlName="seatingCapacity" min="0"  type="number" placeholder="Seating Capacity">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="5">
        <mat-form-field >
          <mat-label>
            Dimensions
          </mat-label>
          <input matInput maxlength="50" maxLength  formControlName="dimensions"  type="text" placeholder="Dimensions">
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Ceiling Height
          </mat-label>
          <input matInput maxlength="11" maxLength  formControlName="ceilingHeight"  min="0" type="number" placeholder="Ceiling Height">
        </mat-form-field>
        <mat-form-field >
          <!--<mat-label>-->
          <!--Ceiling Type-->
          <!--</mat-label>-->
          <!--<input matInput  formControlName="ceilingType"  type="text" placeholder="Ceiling Type">-->
          <mat-select placeholder="Ceiling Type" formControlName="ceilingType">
            <mat-option *ngFor="let ceilingType of ceilingTypes" [value]="ceilingType">{{ceilingType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          <input matInput  formControlName="dateOfLastRemodel"  [matDatepicker]="dateOfLastRemodel" placeholder="Date Of Last Remodel">
          <mat-datepicker-toggle matSuffix [for]="dateOfLastRemodel"></mat-datepicker-toggle>
          <mat-datepicker #dateOfLastRemodel></mat-datepicker>
        </mat-form-field>
        <mat-form-field >
          <mat-label>
            Contractor
          </mat-label>
          <input matInput  formControlName="integrator" maxlength="100" maxLength placeholder="Contractor">
        </mat-form-field>
      </div>
      <div class="fields-group" data-grid="1">
        <mat-form-field >
          <mat-label>
            Last AV Cost
          </mat-label>
          <input matInput  formControlName="avLastUpdateCost" maxlength="11" min="0" maxLength type="number" placeholder="AV Last Update Cost">
        </mat-form-field>
      </div>
    </form>
    <div class="btns-cont">
      <button mat-raised-button  class="red-btn" (click)="openDialogAddNote()" color="primary">
        Add Note
      </button>
      <button mat-raised-button  class="red-btn" (click)="openDialogAddPhoto()" color="primary">
        Upload Photo
      </button>
      <button mat-raised-button  class="red-btn" (click)="openDialogUploadDocument()" color="primary">
        Upload Document
      </button>
      <button mat-raised-button class="red-btn" (click)="openDialogAddProjectDesc()" color="primary">
        Add/Edit Update Project Description
      </button>
      <button mat-raised-button class="red-btn" (click)="addEquipment()" color="primary">
        + Equipment
      </button>
    </div>
  </div>
</div>



<app-equipment-modal
  *ngIf="equipmentId"
  equipmentId="{{equipmentId}}"
  dataSource="{{equipmentsString}}"
  (close)="updateEquipmen(); equipmentId = null">
</app-equipment-modal>



