.project-planning{
  padding: 15px 20px;


  .project-planning-table{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    tr{
      cursor: pointer;

      &.mat-row:hover{
        background: #f3f3f3;
      }
    }
  }
}

.accordion{
  margin: 400px;
}
