/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.custom-dropzone{
  margin: 20px;
   height: 250px;
   background: #333;
   color: #fff;
   border: 5px dashed rgb(235, 79, 79);
   border-radius: 5px;
   font-size: 20px;
}
.red-btn{
  background: #f00 !important;
  color: #fff !important;
}
.manage-user-dialog .mat-dialog-container{
  padding: 0 !important;
}
.user-account-setting .mat-dialog-container{
  padding: 0 !important;
  overflow: hidden;
}
app-account-settings{
  overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.dz-progress{
  display: none !important;
}
dropzone > .dropzone.dz-wrapper .dz-message {
  min-height: 100px !important;
}

mat-list-item.mat-list-item {
  height: auto !important;
}
