.header{

  .slider{
    margin: 20px 50px;
    display: flex;
    align-items: safe;
    justify-content: flex-start;
    position: relative;

    .slide{
      background: #fff;
      padding: 10px;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      border-radius: 4px;
      width: 22%;
      margin-left: 20px;
      min-height: 140px;

      h3.mat-subheader{
        color: #f00;
      }

      span{
        margin-left: 25px;
        margin-top: 7px;
      }


      &.active{
        border-bottom: 2px solid #ff4081;
      }

      .mat-icon{
        width: 10px;
        height: 10px;
        font-size: 10px;
      }

      &:nth-child(1){
        margin-left: 0;
      }
    }


   button{
     position: absolute;
     top: calc(50% - 20px);
   }
  .previousSlide{
      left: -50px
    }
  .nextSlide{
      right: -50px
    }
  }

}

.room-modal{
  //min-height: 600px;
  width: 80%;
  margin: 40px auto;
  background: #fff;
  display: block;
  border-radius: 4px;
  z-index: 10;
  position: fixed;
  top:40px;
  left: 15%;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  color: rgba(0,0,0,.87);

  .header{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #111;
    color: #fff;
    padding-left:20px;

    .actions{
      //min-width: 230px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .header-btn{
        border-left: 1px solid #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //padding-left: 20px;
        padding: 0 10px;

        cursor: pointer;
        user-select: none;
      }
    }
  }
  .carousel{
    width: 100%;
    height: 250px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;


    .slide-main{
      width: 250px;
      height: 247px;
      padding: 3px;
      overflow: hidden;
      min-width: 250px;
      div{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
    }


    .scroller{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      //justify-content: space-evenly;
      height: 250px;




      .slide{

        width: 126px;
        height: 121.5px;
        background: #fff;
        padding: 2px 5px;
        overflow: hidden;

        div{
          height: 100%;
          width: 100%;
          background-position: center;
          background-size: cover;
        }
      }
    }






    .previousSlide{
      position: absolute;
      left:11px;
      background: rgba(0,0,0, .4);
      padding: 14px;
      padding-left: 7px;
      height: 71px;
      border-radius: 0;
      color: #fff;

      &:hover{
      background: rgba(0,0,0, .8);
      }
    }

    .nextSlide{
      position: absolute;
      right:11px;
      background: rgba(0,0,0, .4);
      padding: 14px;
      padding-left: 11px;
      height: 71px;
      border-radius: 0;
      color: #fff;

      &:hover{
      background: rgba(0,0,0, .8);
      }
    }

  }
  .subheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 12px;
    padding:15px 5px;
    span{
      font-weight: normal;

    }
  }

  .room-modal-edit{
    padding: 10px;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      mat-form-field{
        width: 190px;
      }
    }
    .btns-cont{
      display: flex;
      justify-content:space-around;
    }
  }
}

.room-modal-overlay {
  content: '';
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.32);
}

.rooms-table-cont{
  margin: 15px 20px;


  table{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    tr{
      cursor: pointer;

      &.mat-row:hover{
        background: #f3f3f3;
      }
    }
  }
}
